     fastapi
     pydantic
     pandas
     prophet
     scikit-learn
     sqlalchemy
     psycopg2-binary
     requests
     uvicorn
     plotly
     xgboost
     lightgbm
     seaborn
     matplotlib
     joblib