/* Supplier  styles */

:root {
    --background: #FFFFFF;
    --primary: #c551aa;
    --secondary: #d86573;
    --accent: #c3a182;
    --text: #180d1a;
    --text2: #f7ddda;
    --shadow: 0 4px 24px rgba(32,0,58,0.08);
}


.page-title {
    font-size: 2rem;
    font-weight: 700;
    color: #0F2C67; /* deep purple, matches manufacturer theme */
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
    padding-left: 1rem;
} 