/* Supplier  styles */

:root {
    --primary: #16610E;
    --primary-light: #82d48a;
    --secondary: #F97A00;
    --accent: #FED16A;
    --text-dark: #222;
    --text-light: #666;
    --background: #fff;
    --text: #333333;
    --text2: #FFF4A4;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --success: #38c172;
    --danger: #e3342f;
    --warning: #ffed4a;
}


.page-title {
    font-size: 2rem;
    font-weight: 700;
    color: #0F2C67; /* deep purple, matches manufacturer theme */
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
    padding-left: 1rem;
} 