/* Supplier  styles */

:root {
    --primary: #40ca74;
    --secondary: #8cf0b1;
    --accent: #45fd89;
    --text: #0b0e0c;
    --background: #f5faf7;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --success: #38c172;
    --danger: #e3342f;
    --warning: #ffed4a;
}
[data-theme="dark"] {
    --primary: #35c06a;
    --secondary: #0f7133;
    --accent: #02bb46;
    --text: #f1f4f2;
    --background: #050a07;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    --success: #38c172;
    --danger: #e3342f;
    --warning: #ffed4a;
}

html {
    transition: background 0.3s, color 0.3s;
}


.page-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
    padding-left: 1rem;
} 